<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">


</div>
<div *ngIf="!name; else forminfo">
  <form [formGroup]="rForm" (ngSubmit)="displayGraph(rForm.value)">
    <div class="form-container">
      <div class="row columns">
        <h1>Welcome, please fill the form.</h1>

        <label>Urls. Separe yours urls by a comma
          <textarea  formControlName="urls"></textarea>
        </label>

        <label>Interval (in mn)
          <input type="text"  formControlName="interval">
        </label>

        <label>Before (timestamp, in ms)
          <input type="text"  formControlName="before">
        </label>

        <label>After (timestamp, in ms)
          <input type="text" formControlName="after">
        </label>


        <input type="submit" class="button expanded" value="Submit Form">
      </div>
    </div>
  </form>
</div>


<canvas id="myChart" width="1000" height="1000"></canvas>



<ng-template #forminfo>
  <div class="form-container">
    <div class="row columns">
      <h1>{{ name }}</h1>

      <p>{{ description }}</p>
    </div>
  </div>
</ng-template>